<script type="text/javascript">
     $(function() {
          data_upload("#item-data-uploader");
     }); 
</script>
<h3>新建/编辑映射</h3>

<%= form_for(@item,:html=>{:id=>'mapper-new-form',:class=>"form-horizontal"}) do |f| %>
<% if @item.errors.any? %>
<div id="error_explanation">
     <h2><%= pluralize(@item.errors.count, "error") %> prohibited this part from being saved:</h2>
     <ul>
          <% @item.errors.full_messages.each do |msg| %>
          <li>
               <%= msg %>
          </li>
          <% end %>
     </ul>
</div>
<% end %>
<div class="field">
     <table>
          <tr>
               <td>访问号</td>
               <td><%= @access_key%>
               <%= f.hidden_field :access_key,:value=>@access_key%> </td>
          </tr>
          <tr>
               <td>映射号</td>
               <td> <%= f.text_field :mapperNr,:value=>@item.mapperNr%></td>
          </tr>
          <tr>
               <td>名称</td>
               <td> <%= f.text_field :name,:value=>@item.name%></td>
          </tr>
     </table>
</div>
<% end %>
<div class="footer-operate">
     <p>
          <%= link_to '< 返回', send("#{@model.pluralize}_path") %>
          <%= link_to '下一步 >', '#',:onclick=>"$('#mapper-new-form').submit();"%>
     </p>
     <%= link_to '| 结束 |', send("cancel_#{@model.pluralize}_path") %>
</div>
