@model Brilliantech.Tsk.Data.CL.Model.InspectOrigin

@{
    ViewBag.Title = "Details";
}

<h2>详细</h2>

<fieldset>
    <legend>TSK 原始数据</legend>

    <div class="display-label">数据文件内容:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">处理成功/失败:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProcessResult)
    </div>

    <div class="display-label">处理信息:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProcessMessage)
    </div>

    <div class="display-label">数据库数据保存时间:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>
</fieldset>
<p>
    @Html.ActionLink("返回", "Index","Inspect")
</p>
