<p id="notice">
     <%= notice %>
</p>

<table>
     <%@item.instance_variable_get("@attributes").each do |k,v|%>
     <tr>
          <td><%= k.to_s%></td>
          <td><%= v%></td>
     </tr>
     <%end%>
</table>
<%= link_to '删除', @item, metdod: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to '编辑',send("edit_#{@model}_path",@item) %>
<%= link_to '返回', send("#{@model.pluralize}_path") %>
