<%= form_for(@item,:html=>{:class=>"form-horizontal"}) do |f| %>
<% if @item.errors.any? %>
<div id="error_explanation">
     <h2><%= pluralize(@item.errors.count, "error") %> prohibited this part from being saved:</h2>
     <ul>
          <% @item.errors.full_messages.each do |msg| %>
          <li>
               <%= msg %>
          </li>
          <% end %>
     </ul>
</div>
<% end %>
<div class="field">
     <table class="table table-bordered table-striped globle-table">
          <tr>
               <td> 工号</td>
               <td><%= f.text_field :staffNr%></td>
          </tr>
          <tr>
               <td> 姓名</td>
               <td><%= f.text_field :name%></td>
          </tr>
          <tr>
               <td> 邮件</td>
               <td><%= f.text_field :email%></td>
          </tr>
          <tr>
               <td> 联系方式</td>
               <td><%= f.text_field :contact%></td>
          </tr>
          <tr>
               <td> 职称</td>
               <td><%= f.text_field :title%></td>
          </tr>
             <tr>
               <td colspan="2">    <%= f.submit "提 交"%></td>
          </tr>
     </table>
</div>
<% end %>
