<h1>Listing <%= @model%></h1>

<table>
     <tr>
          <th>工号</th>
          <th>姓名</th>
          <th>邮件</th>
          <th>联系方式</th>
          <th>职称</th>
          <th>&nbsp;</th>
     </tr>
     <% @items.each do |item| %>
     <tr>
          <td><%= item.staffNr%></td>
          <td><%= item.name%></td>
          <td><%= item.email%></td>
          <td><%= item.contact%></td>
          <td><%= item.title%></td>
          <td><%= link_to '查看', item %>
          <%= link_to '编辑',send("edit_#{@model}_path",item) %>
          <%= link_to '删除', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
     <% end %>
</table>
<br />

<%= will_paginate @items%>
<%= link_to "新建员工", send("new_#{@model}_path") %>
<%= link_to "上传/更新员工", send("import_#{@model.pluralize}_path") %>