<h1>&nbsp;</h1>
<h3>映射项列表</h3>
<form method="get" action="<%= send("search_#{@model.pluralize}_path")%>">
     <div>
          <span>映射键值：
               <input type="text" name="mapper_item[map_field_value]" />
          </span>
          <span>映射值：
               <input type="text" name="mapper_item[map_value]" />
          </span>
          <input type="submit" value="查 找" class="btn btn-primary"/>
     </div>
</form>
<table class="table table-bordered table-striped globle-table">
     <tr>
          <th>&nbsp;</th>
          <th>数据集</th>
          <th>映射键号</th>
          <th>映射键值</th>
          <th>映射值</th>
          <th>访问号</th>
          <th>&nbsp;</th>
     </tr>
     <%@items.each_with_index do |item,i|%>
     <tr>
          <td class="td-index"><%= i+1%></td>
          <td><%= item.model%></td>
          <td><%= item.map_key%></td>
          <td><%= item.map_field_value%></td>
          <td><%= item.map_value%></td>
          <td><%= item.access_key%></td>
          <td><%= link_to '查看', item %>
          <%= link_to '编辑',send("edit_#{@model}_path",item) %>
          <%= link_to '删除', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
     <% end %>
</table>
<div class="footer-operate">
     <%= will_paginate @items%>
</div>
