<h1>&nbsp;</h1>
<p id="notice">
     <%= notice %>
</p>
<table class="table table-bordered table-striped globle-table">
     <tr>
          <td>零件号</td>
          <td><%= @item.partNr%></td>
     </tr>
     <tr>
          <td>名称</td>
          <td><%= @item.name%></td>
     </tr>
     <tr>
          <td>客户零件号</td>
          <td><%= @item.clientPartNr%></td>
     </tr>
     <tr>
          <td>组织号</td>
          <td><%= @item.entity.entityNr if @item.entity%></td>
     </tr>
</table>
<br />
<div class="footer-operate">
     <%= link_to '删除', @item, metdod: :delete, data: { confirm: 'Are you sure?' } %>
     <%= link_to '编辑',send("edit_#{@model}_path",@item) %>
     <%= link_to '返回', send("#{@model.pluralize}_path") %>
</div>